<div class="row">
  <div class="col-md-6">
      <h3>Select Service Provider:</h3>
      <select class="form-control" ng-model="selectedServiceProvider">
          <option value="">Select Service Provider</option>
          <option value="spotify">Spotify</option>
          <option value="itunes">iTunes</option>
      </select>
  </div>
  <div class="col-md-6">
      <h3>Select Content Type:</h3>
      <select class="form-control" ng-model="selectedContentType">
          <option value="">Select Content Type</option>
          <option value="audiobooks">Audiobook</option>
          <option value="podcasts">Podcast</option>
      </select>
  </div>
</div>

<div class="row" ng-show="selectedServiceProvider && selectedContentType" style="margin-top: 20px;">
  <div class="col-md-12">
      <h3>Search:</h3>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search {{selectedContentType}} on {{selectedServiceProvider}}" ng-model="searchQuery">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="searchContent()">
                  <span class="glyphicon glyphicon-search"></span> Search
              </button>
          </span>
      </div>
  </div>
</div>

<div class="row" ng-show="!selectedServiceProvider || !selectedContentType" style="margin-top: 20px;">
  <div class="col-md-12">
      <div class="alert alert-info" role="alert">
          Please select both Service Provider and Content Type to search content.
      </div>
  </div>
</div>

<div class="col-md-12" ng-show="selectedServiceProvider && selectedContentType">
    <div class="row book-list"  infinite-margin="200">
      <h3>Search Results:</h3>
      <h5> {{ searchResults.length }} {{ selectedContentType }} found on {{ selectedServiceProvider }}</h5>
      <div class="list-group search-results">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 book" ng-repeat="result in searchResults">
            <a href="" class="thumbnail" ng-click="addToAudioBookDB(result)">
            <span class="thumbnail">
              <div class="image">
              <img src="audio.png" alt="Audio Image">
              </div>
              <div class="caption">
                <p class="text-primary text-center">{{ result.title }}</p>
                <p class="text-muted text-center">{{ result.author }}</p>
              </div>
            </a>
          </span>

            
          </div>
        </div>
    </div>
</div>
