<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    <form role="form" name="signupForm" ng-submit="signup()" novalidate>
      <div class="form-group" ng-class="{ 'has-error': signupForm.username.$invalid && signupForm.username.$dirty }">
        <label class="control-label" for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ng-model="user.username" required ng-change="validateUsername()" />
        <span class="help-block" style="color: red;" ng-show="signupForm.username.$error.required && signupForm.username.$dirty">Username is required.</span>
        <span class="help-block" style="color: red;" ng-show="errors.username">Username must be at least 3 characters long.</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': signupForm.email.$invalid && signupForm.email.$dirty }">
        <label class="control-label" for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="user.email" required ng-change="validateEmail()" />
        <span class="help-block" style="color: red;" ng-show="signupForm.email.$error.required && signupForm.email.$dirty">Email is required.</span>
        <span class="help-block" style="color: red;" ng-show="signupForm.email.$error.email && signupForm.email.$dirty">Invalid email format.</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': signupForm.password.$invalid && signupForm.password.$dirty }">
        <label class="control-label" for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" ng-model="user.password" required ng-change="validatePassword()" />
        <span class="help-block" style="color: red;" ng-show="signupForm.password.$error.required && signupForm.password.$dirty">Password is required.</span>
        <span class="help-block" style="color: red;" ng-show="errors.minPasswordLength">Password must have at least 8 characters.</span>
        <span class="help-block" style="color: red;" ng-show="errors.specialChar">Password must have at least 1 special character.</span>
        <span class="help-block" style="color: red;" ng-show="errors.upperCase">Password must have at least 1 uppercase letter.</span>
        <span class="help-block" style="color: red;" ng-show="errors.lowerCase">Password must have at least 1 lowercase letter.</span>
        <span class="help-block" style="color: red;" ng-show="errors.digit">Password must have at least 1 digit.</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': signupForm.confirmpassword.$invalid && signupForm.confirmpassword.$dirty }">
        <label class="control-label" for="confirmPassword">Password (confirm)</label>
        <input type="password" class="form-control" id="inputPasswordConfirm" name="confirmpassword" placeholder="Confirm Password" ng-model="user.confirmpassword" required ng-change="validateConfirmPassword()" />
        <span class="help-block" style="color: red;" ng-show="signupForm.confirmpassword.$error.required && signupForm.confirmpassword.$dirty">Confirmation password is required.</span>
        <span class="help-block" style="color: red;" ng-show="errors.passwordMismatch">Passwords do not match.</span>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Sign up</button>
    </form>
  </div>
</div>
